<form [formGroup]="userForm" class="p-4 grid gap-4">
    <ng-container formGroupName="generalInformations">
        <div class="grid lg:grid-cols-3 gap-4">
            <mat-form-field class="w-full">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Funalo da Silva" formControlName="name">
                <mat-error>O nome é obrigatorio.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Funalo@hotmail.com" formControlName="email">
                <mat-error *ngIf="emailControl.hasError('required')">O email é obrigatorio.</mat-error>
                <mat-error *ngIf="emailControl.hasError('pattern')" >O email é invalido.</mat-error>
            </mat-form-field>
        </div>
        <div class="grid lg:grid-cols-3 gap-4">
            <mat-form-field class="example-full-width">
                <mat-label>Pais</mat-label>
                <input type="text" placeholder="Brazil" matInput [matAutocomplete]="autoCountry" formControlName="country">
                <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete" (optionSelected)="onCountrySelected($event)">
                    <mat-option *ngFor="let country of countryListFiltered" [value]="country.country">{{country.country}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <input type="text" placeholder="Sao Paulo" matInput [matAutocomplete]="autoState" formControlName="state">
                <mat-autocomplete autoActiveFirstOption #autoState="matAutocomplete">
                    <mat-option *ngFor="let op of []">{{''}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="grid lg:grid-cols-3 gap-4">
            <div class="w-full">
                <div class="text-lg ">Estado Civil:</div>
                <mat-radio-group class="w-full flex flex-col sm:flex-row sm:justify-between" formControlName="maritalStatus">
                    <mat-radio-button [value]="1">Solteiro</mat-radio-button>
                    <mat-radio-button [value]="2">Casado</mat-radio-button>
                    <mat-radio-button [value]="3">Divorciado</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field class="w-full">
                <mat-label>Renda Mensal:</mat-label>
                <input matInput placeholder="R$5000,00" value="R$5000,00" formControlName="monthlyIncome">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Data de Nascimento:</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDate">
                <mat-hint>DD/MM/AAAA</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </ng-container>
</form>