<div class="p-4 grid gap-4">
    <div class="grid lg:grid-cols-3 gap-4">
        <mat-form-field class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Funalo da Silva" value="Fulano">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Funalo@hotmail.com" value="Funalo@hotmail.com">
        </mat-form-field>
    </div>
    <div class="grid lg:grid-cols-3 gap-4">
        <mat-form-field class="example-full-width">
            <mat-label>Pais</mat-label>
            <input type="text" placeholder="Brazil" matInput [matAutocomplete]="autoCountry">
            <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete">
                <mat-option *ngFor="let op of []">{{''}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input type="text" placeholder="Sao Paulo" matInput [matAutocomplete]="autoState">
            <mat-autocomplete autoActiveFirstOption #autoState="matAutocomplete">
                <mat-option *ngFor="let op of []">{{''}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="grid lg:grid-cols-3 gap-4">
        <div class="w-full">
            <div class="text-lg ">Estado Civil:</div>
            <mat-radio-group class="w-full flex flex-col sm:flex-row sm:justify-between">
                <mat-radio-button value="1">Solteiro</mat-radio-button>
                <mat-radio-button value="2">Casado</mat-radio-button>
                <mat-radio-button value="3">Divorciado</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field class="w-full">
            <mat-label>Renda Mensal:</mat-label>
            <input matInput placeholder="R$5000,00" value="R$5000,00">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data de Nascimento:</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>