<form class="grid lg:grid-cols-3 lg:gap-4" [formGroup]="userForm">
    <ng-container formGroupName="contactInformations">
        <ng-container formArrayName="phoneList">
            <mat-form-field class="w-full" *ngFor="let phone of phoneList.controls; let i = index" [formGroupName]="i">
                <mat-label>{{ phoneList.value[i].typeDescription }}:</mat-label>
                <input matInput [placeholder]="phoneList.value[i].type | phonePlaceholder" [mask]="phoneList.value[i].type | phoneMask" formControlName="number">
                <mat-error *ngIf="phone.get('number')?.hasError('required')">O telefone é obrigatorio.</mat-error>
                <mat-error *ngIf="phone.get('number')?.hasError('mask')">O telefone é invalido.</mat-error>
            </mat-form-field>
        </ng-container>
    </ng-container>
</form>