    <div class="grid lg:grid-cols-3 lg:gap-4">
        <mat-form-field class="w-full">
            <mat-label>Residencial:</mat-label>
            <input matInput placeholder="+55 11 1234-1234" value="+55 11 1234-1234">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Celular:</mat-label>
            <input matInput placeholder="+55 11 91234-1234" value="+55 11 01234-1234">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Emergencia:</mat-label>
            <input matInput placeholder="+55 11 91234-1234" value="+55 11 91234-1234">
        </mat-form-field>
    </div>