<div *ngFor="let address of addressListToDisplay ">
    <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-6">
        <app-user-info-item title="Tipo" [text]="address.typeDescription"></app-user-info-item>
        <app-user-info-item title="Rua" [text]="address.street"></app-user-info-item>
        <app-user-info-item title="Complemento" [text]="address.complement"></app-user-info-item>
        <app-user-info-item title="Pais" [text]="address.country"></app-user-info-item>
        <app-user-info-item title="Estado" [text]="address.state"></app-user-info-item>
        <app-user-info-item title="Cidade" [text]="address.city"></app-user-info-item>
    </div>
    <hr class="block lg:hidden">
</div>