<div class="p-4">
    <div class="p-4  grid gap-4 lg:grid-cols-3">
      <app-user-info-item title="Nome" [text]="user?.name"></app-user-info-item>
      <app-user-info-item title="Email" [text]="user?.email"></app-user-info-item>
    </div>
    <div class="p-4 grid gap-4 lg:grid-cols-3">
      <app-user-info-item title="Pais" [text]="user?.country"></app-user-info-item>
      <app-user-info-item title="Estado" [text]="user?.state"></app-user-info-item>
    </div>
    <div class="p-4  grid gap-4 lg:grid-cols-3">
      <app-user-info-item title="Estado Civil" [text]="user?.maritalStatus?.toString()"></app-user-info-item>
      <app-user-info-item title="Renda Mensal" [text]="user?.monthlyIncome?.toString()"></app-user-info-item>
      <app-user-info-item title="Data de Nascimento" [text]="user?.birthDate"></app-user-info-item>
    </div>
</div>