<div class="p-4">
    <div class="p-4  grid gap-4 lg:grid-cols-3">
        <div>
            <p class="text-xl font-semibold">Nome:</p>
            <p class="text-xllg">Fulano </p>
        </div>
        <div>
            <p class="text-xl font-semibold">Email:</p>
            <p class="text-xllg">{{'Tonhao@gmail.com'}} </p>
        </div>
    </div>

    <div class="p-4 grid gap-4 lg:grid-cols-3">
          <div>
            <p class="text-xl font-semibold">País:</p>
            <p class="text-xllg">Brasil </p>
        </div>
          <div>
            <p class="text-xl font-semibold">Estado:</p>
            <p class="text-xllg">São Paulo</p>
        </div>
    </div>
    <div class="p-4  grid gap-4 lg:grid-cols-3">
          <div>
            <p class="text-xl font-semibold">Estado Civil:</p>
            <p class="text-xllg">Solteiro</p>
        </div>
          <div>
            <p class="text-xl font-semibold">Renda Mensal:</p>
            <p class="text-xllg">R$ 3.500,00 </p>
        </div>
          <div>
            <p class="text-xl font-semibold">Data Nascimento:</p>
            <p class="text-xllg">16/02/1999 </p>
        </div>
    </div>
</div>