<mat-tab-group [(selectedIndex)]="currentTabIndex">
    <mat-tab>
        <ng-template mat-tab-label>
            Geral
            <mat-icon *ngIf="isInEditMode && !generalInformations.valid" class="red-circle-icon">circle</mat-icon>
        </ng-template>

        <app-general-informations *ngIf="!isInEditMode" [user]="userSelected"></app-general-informations>
        <app-general-informations-edit *ngIf="isInEditMode" [userForm]="userForm" [countriesList]="countriesList"
            [statesList]="statesList" (onCountrySelected)="onCountrySelected($event)">
        </app-general-informations-edit>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Contato
            <mat-icon *ngIf="isInEditMode && !contactInformations.valid" class="red-circle-icon">circle</mat-icon>
        </ng-template>

        <app-contact-informations *ngIf="!isInEditMode" [user]="userSelected"></app-contact-informations>
        <app-contact-informations-edit *ngIf="isInEditMode" [userForm]="userForm"></app-contact-informations-edit>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Contato
            <mat-icon *ngIf="isInEditMode && !dependentsList.valid" class="red-circle-icon">circle</mat-icon>
        </ng-template>


        <app-depedents-list *ngIf="!isInEditMode" [dependentsList]="userSelected.dependentsList"></app-depedents-list>
        <app-dependents-list-edit *ngIf="isInEditMode" (onRemoveDependent)="removeDependent($event)" (onAddDependent)="addDependent()"
            [userForm]="userForm"></app-dependents-list-edit>
    </mat-tab>

</mat-tab-group>

<button (click)="mostrarUserForm()">mostrar form</button>