<div class="mt-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
    <mat-form-field class="w-full">
        <mat-label>Tipo:</mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Rua:</mat-label>
        <input matInput placeholder="Rua" value="Rua de tal">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Complemento:</mat-label>
        <input matInput placeholder="Proximo ao parque" value="Proximo ao parque">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Pais:</mat-label>
        <input matInput placeholder="Brazil" value="Brazil">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Estado:</mat-label>
        <input matInput placeholder="Sao Paulo" value="Sao Paulo">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Cidade:</mat-label>
        <input matInput placeholder="Ribeirao Preto" value="Ribeirao Preto">
    </mat-form-field>
</div>
<hr class="block lg:hidden">
<div class=" mt-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
    <mat-form-field class="w-full">
        <mat-label>Tipo:</mat-label>
        <input matInput placeholder="Trabalho" value="Trabalho">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Rua:</mat-label>
        <input matInput placeholder="Rua" value="Rua de tal">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Complemento:</mat-label>
        <input matInput placeholder="Proximo ao parque" value="Proximo ao parque">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Pais:</mat-label>
        <input matInput placeholder="Brazil" value="Brazil">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Estado:</mat-label>
        <input matInput placeholder="Sao Paulo" value="Sao Paulo">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Cidade:</mat-label>
        <input matInput placeholder="Ribeirao Preto" value="Ribeirao Preto">
    </mat-form-field>
</div>
<hr class="block lg:hidden">
<div class=" mt-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6">
    <mat-form-field class="w-full">
        <mat-label>Tipo:</mat-label>
        <input matInput placeholder="Alternativo" value="Alternativo">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Rua:</mat-label>
        <input matInput placeholder="Rua" value="Rua de tal">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Complemento:</mat-label>
        <input matInput placeholder="Proximo ao parque" value="Proximo ao parque">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Pais:</mat-label>
        <input matInput placeholder="Brazil" value="Brazil">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Estado:</mat-label>
        <input matInput placeholder="Sao Paulo" value="Sao Paulo">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Cidade:</mat-label>
        <input matInput placeholder="Ribeirao Preto" value="Ribeirao Preto">
    </mat-form-field>
</div>
<hr class="block lg:hidden">