<div class="p-4 max-w-screen-xl mx-auto">
  <mat-card>
    <mat-card-content>
      <app-user-list [usersList]="usersList" (onUserSelected)="onUserSelected($event)"></app-user-list>

      <app-buttons-container *ngIf="userSelectedIndex !== undefined" (onCancelButton)="onCancelButton()"
        (onEditButton)="onEditButton()" [isInEditMode]="isInEditMode">
      </app-buttons-container>

      <app-user-informations-container *ngIf="userSelectedIndex !== undefined" [userSelected]="userSelected" [isInEditMode]="isInEditMode">

      </app-user-informations-container>
    
    </mat-card-content>
  </mat-card>
</div>