<div class="p-4 max-w-screen-xl mx-auto">
  <mat-card>
    <mat-card-content>
      <app-user-list [isInEditMode]="isInEditMode" [usersList]="usersList" (onUserSelected)="onUserSelected($event)"></app-user-list>

      <app-buttons-container 
        *ngIf="userSelectedIndex !== undefined" 
        (onCancelButton)="onCancelButton()"
        (onEditButton)="onEditButton()"
         (onSaveButton)="onSaveButton()"
        [enableSaveButton]="enableSaveButton" 
        [isInEditMode]="isInEditMode">
      </app-buttons-container>

      <app-user-informations-container *ngIf="userSelectedIndex !== undefined" [userSelected]="userSelected" [isInEditMode]="isInEditMode" (onFormStatusChanges)="onFormStatusChanges($event)" (onUserFormFirstChange)="onUserFormFirstChange()">

      </app-user-informations-container>
    
    </mat-card-content>
  </mat-card>
</div>