<form [formGroup]="userForm" class="p-4">
    <p class="text-xl font-semibold">Dependentes:</p>
    <div>
        <button
            class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-green-600 hover:bg-green-500"
            (click)="addDependent()"
        >NovoDependente
        </button>
    </div>

    <ng-container formArrayName="dependentsList">
        <ng-container *ngFor="let dependent of dependentsList.controls; let i = index" [formGroupName]="i">
            <div class="my-4 grid  grid-cols-2 sm:grid-cols-4 gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Nome:</mat-label>
                    <input matInput formControlName="name">
                    <mat-error>Nome é obrigatorio.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Idade:</mat-label>
                    <input matInput formControlName="age">
                    <mat-error>Idade é obrigatorio.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Documento:</mat-label>
                    <input matInput formControlName="document" mask="000.000.000-00">
                    <mat-error *ngIf="dependent.get('document')?.hasError('required')">Documento é obrigatorio.</mat-error>
                    <mat-error *ngIf="dependent.get('document')?.hasError('mask')">Documento é invalido.</mat-error>
                </mat-form-field>
                <div class="flex justify-center items-baseline box-border p-2">
                    <button
                        class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-red-600 hover:bg-red-500"
                        (click)="removeDependent(i)"
                    >
                        Deletar
                    </button>
                </div>
            </div>
            <hr class="block sm:hidden">
        </ng-container>
    </ng-container>
</form>