<div class="pt-4 grid gap-4">
    <app-phone-list [userPhoneList]="user?.phoneList"></app-phone-list>
    <p class="text-2xl font-semibold">Telefones</p>
   
    <p class="text-2xl font-semibold">Endereço</p>
     <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-6">
        <app-user-info-item title="Tipo" [text]="'Residencial'"></app-user-info-item>
        <app-user-info-item title="Rua" [text]="'Rua de Tal'"></app-user-info-item>
        <app-user-info-item title="Complemento" [text]="'Complemento de tal'"></app-user-info-item>
        <app-user-info-item title="Pais" [text]="'Pais de tal'"></app-user-info-item>
        <app-user-info-item title="Estado" [text]="'Estado de tal'"></app-user-info-item>
        <app-user-info-item title="Cidade" [text]="'Cidade de tal'"></app-user-info-item>
     </div>
     <hr class="block lg:hidden">
     <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-6">
        <app-user-info-item title="Tipo" [text]="'Trabalho'"></app-user-info-item>
        <app-user-info-item title="Rua" [text]="'Rua de Tal'"></app-user-info-item>
        <app-user-info-item title="Complemento" [text]="'Complemento de tal'"></app-user-info-item>
        <app-user-info-item title="Pais" [text]="'Pais de tal'"></app-user-info-item>
        <app-user-info-item title="Estado" [text]="'Estado de tal'"></app-user-info-item>
        <app-user-info-item title="Cidade" [text]="'Cidade de tal'"></app-user-info-item>
     </div>
     <hr class="block lg:hidden">
     <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-6">
        <app-user-info-item title="Tipo" [text]="'Alternativo'"></app-user-info-item>
        <app-user-info-item title="Rua" [text]="'Rua de Tal'"></app-user-info-item>
        <app-user-info-item title="Complemento" [text]="'Complemento de tal'"></app-user-info-item>
        <app-user-info-item title="Pais" [text]="'Pais de tal'"></app-user-info-item>
        <app-user-info-item title="Estado" [text]="'Estado de tal'"></app-user-info-item>
        <app-user-info-item title="Cidade" [text]="'Cidade de tal'"></app-user-info-item>
     </div>
</div>